body {
    background-color: bisque;
}

h1 {
    background-color: cadetblue;
    color: aliceblue;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    color: rgb(54, 66, 37);
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.second_article {
    background-color: rgb(127, 240, 255);
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    border-radius: 70px;
    border-width: 19px;
    border-color: rgb(207, 0, 0);
    border-bottom: 9px;
    border-bottom-color: rgb(39, 4, 4);
    border-style: dashed;
}